Repository priyankush-siloria/digit-ui, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @kavi-egov, @talele08, @sirishrao-egov, @subhashini-egov, @kapil-eGov, @jagankumar-egov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov @kavi-egov
*.yaml  @gajendran-egov @sathishp-eGov @kavi-egov

business-services/ @sathishp-eGov @talele08 @kavi-egov @sirishrao-egov @subhashini-egov @talele08 
core-services/ @sathishp-eGov @talele08 @kavi-egov @sirishrao-egov @subhashini-egov @talele08 
municipal-services/ @sathishp-eGov @talele08 @kavi-egov @sirishrao-egov @subhashini-egov @talele08 @kapil-eGov


##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @sirishrao-egov @subhashini-egov @talele08
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @sirishrao-egov @subhashini-egov @talele08
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov @sirishrao-egov @subhashini-egov @talele08

Changes in gitignore
  .gitignore
Owners: @gajendran-egov, @sathishp-eGov, @kavi-egov

Added icon and app logo
  frontend/micro-ui/web/micro-ui-internals/example/public/app-icon.jpg
  frontend/micro-ui/web/micro-ui-internals/example/public/index.html
  frontend/micro-ui/web/micro-ui-internals/packages/css/img/app-icon.jpg
  frontend/micro-ui/web/micro-ui-internals/packages/css/img/app-logo.jpg
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/atoms/AppIcon.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/hoc/FormComposer.js
  frontend/micro-ui/web/public/app-icon.jpg
  frontend/micro-ui/web/public/index.html
Owners: @sathishp-eGov, @jagankumar-egov, @sirishrao-egov, @subhashini-egov, @talele08

colour code changes
  frontend/micro-ui/web/micro-ui-internals/example/public/custom.css
  frontend/micro-ui/web/micro-ui-internals/example/public/index.html
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/atoms/AppIcon.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/hoc/FormComposer.js
Owners: @sathishp-eGov, @jagankumar-egov, @sirishrao-egov, @subhashini-egov, @talele08

colour code changes
  .gitignore
  frontend/micro-ui/web/micro-ui-internals/example/public/custom.css
  frontend/micro-ui/web/micro-ui-internals/example/public/index.html
  frontend/micro-ui/web/micro-ui-internals/packages/css/postcss.config.js
  frontend/micro-ui/web/micro-ui-internals/packages/custom-css/postcss.config.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/atoms/AppIcon.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/hoc/FormComposer.js
Owners: @gajendran-egov, @sathishp-eGov, @kavi-egov, @jagankumar-egov, @sirishrao-egov, @subhashini-egov, @talele08

colour code changes
  .gitignore
  frontend/micro-ui/web/micro-ui-internals/example/public/custom.css
  frontend/micro-ui/web/micro-ui-internals/example/public/index.html
  frontend/micro-ui/web/micro-ui-internals/packages/css/postcss.config.js
  frontend/micro-ui/web/micro-ui-internals/packages/custom-css/postcss.config.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/atoms/AppIcon.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/hoc/FormComposer.js
Owners: @gajendran-egov, @sathishp-eGov, @kavi-egov, @jagankumar-egov, @sirishrao-egov, @subhashini-egov, @talele08

colour code changes
  .gitignore
  frontend/micro-ui/web/micro-ui-internals/example/public/custom.css
  frontend/micro-ui/web/micro-ui-internals/example/public/index.html
  frontend/micro-ui/web/micro-ui-internals/packages/css/postcss.config.js
  frontend/micro-ui/web/micro-ui-internals/packages/custom-css/postcss.config.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/atoms/AppIcon.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/hoc/FormComposer.js
Owners: @gajendran-egov, @sathishp-eGov, @kavi-egov, @jagankumar-egov, @sirishrao-egov, @subhashini-egov, @talele08
